body {
    background-color: rgb(238, 236, 236);
}

#nav-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: xx-large;
}
.pickup-list {
    margin: 3% 20%;
    padding-bottom: 70%;
    border-radius: 25px;
}

#right-button {
    border-top-right-radius: 25px;
}

#left-button {
    border-top-left-radius: 25px;
}

.btn {
    font-family: 'Work Sans', sans-serif;
}

.list-group {
    font-family: 'Work Sans', sans-serif;
}